*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  width: 100%;
  height: 100vh;
  background-image: url(./assets/back-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.App {
  width: 100px;
  height: 490px;
  text-align: center;
margin-top: 3rem;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
background-color:#aaaca1;
border-radius: 20px;

}

